@import url("https://fonts.googleapis.com/css?family=PT+Sans|PT+Serif");

.footer {
  font-family: "PT Serif", serif;
}

.react {
  font-family: "PT Sans", sans-serif;
  border-bottom: 4px solid #644cad;
  color: #555;
  font-size: 1.2rem;
  &:hover {
    cursor: pointer;
    transition: 0.5s all ease;
    color: #644cad;
  }
}

a.name {
  border-bottom: 4px solid #644cad;
  text-decoration: none;
  color: #555;
  font-size: 1.2rem;
  &:hover {
    transition: 0.5s all ease;
    color: #644cad;
  }
}
