@import url("https://fonts.googleapis.com/css?family=PT+Sans|PT+Serif");

.wrapper {
  text-align: center;
}

.quote {
  color: #644cad;
  font-family: "PT Sans", sans-serif;
  font-style: italic;
}

.source {
  color: #8f7dc5;
}
